* {
    margin: 0;
    padding: 1rem;
    font-family: 'Slackey', cursive;
}

h1 {
    color: black;
    font-size: 50px;
    border: 5px double blue;
    outline: 1px solid red;
}

body {
    color: #a6ff00e7;
    outline: 10px double rgb(0, 0, 0);
    text-decoration: none;
    background-color: honeydew;
    text-align: center;
}

#main-content1 {
    font-size: 30px;
    border: 10px solid rgb(43, 55, 226);
    border-radius: 20px 0 20px 0;
    color: black;
    background-color: rgb(167, 255, 255);
}

#kmconvert {
    font-size: 30px;
    border: 10px solid rgb(23, 197, 0);
    border-radius: 20px 0 20px 0;
    color: black;
    background-color: rgb(170, 255, 167);
}

#feetconvert {
    font-size: 30px;
    border: 10px solid rgb(214, 0, 14);
    border-radius: 20px 0 20px 0;
    color: black;
    background-color: rgb(255, 167, 167);
}

#inchconvert {
    font-size: 30px;
    border: 10px solid rgb(230, 122, 0);
    border-radius: 20px 0 20px 0;
    color: black;
    background-color: rgb(255, 202, 167);
}

#knotconvert {
    font-size: 30px;
    border: 10px solid rgb(221, 0, 255);
    border-radius: 20px 0 20px 0;
    color: rgb(59, 59, 59);
    background-color: rgb(215, 167, 255);
}

#box1 {
    font-size: 15px;
    opacity: 100%;
}

#box2 {
    font-size: 15px;
    opacity: 100%;
}

input {
    background-color: honeydew;
    border: 2px solid black;
    color: rgb(0, 98, 255);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 25px;
    max-width: 150px;
    opacity: 100%;
}

#btn {
    color: honeydew;
    font-size: 15px;
    background-color: rgb(83, 83, 83);
    padding: 0.5rem;
    max-width: 200px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

#btn:hover {
    color: rgb(0, 0, 0);
    background-color: honeydew;
}